nav.navbar {
  width: 1310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.navIcon {
  width: 10rem;
}

.navIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navContact a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navContact a {
  width: 100%;
  height: 100%;
}
.navContact {
  width: 6rem;
}

.navBlank {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: none;
}

@media (max-width: 1330px) {
  nav.navbar {
    width: 90%;
    top: 1rem;
  }
}
@media (max-width: 650px) {
  .navBlank {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  nav.navbar {
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    top: 1rem;
  }
  .navIcon {
    width: 7rem;
  }
  .navContact {
    width: 5rem;
  }
}
